<h3>Users List</h3>
<table id="users" class="display" data-source="<%= users_url(format: "json") %>">
 <thead> 
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th class="no-sort">Role</th>
  </tr>
</thead>
<tbody>
</tbody>
</table>